{% extends 'base.html' %}

{% block meta %}
<title>Cleanify</title>
{% endblock meta %}

{% block content %}

<div class="text-bg-cleanify p-4">
	<div class="container text-center">
		<h1 class="display-1 mb-4 fw-bold"><i class="bi bi-trash-fill"></i> Cleanify</h1>
		<p class="fs-4 fw-normal">Sebuah aplikasi untuk membersihkan sampah disekitar kita.</p>
	</div>
</div>

<div class="container my-4">
	<p>Cleanify yang menawarkan jasa untuk membantu membersihkan sampah di sekitar kita. Aplikasi ini memudahkan masyarakat untuk menjaga lingkungan yang lebih bersih lagi. Aplikasi ini juga mempunyai tujuan untuk meningkatkan <span class="fst-italic">awareness</span> masyarakat terhadap lingkungan sekitar.</p>
</div>

{% endblock content %}