{% extends 'base-blog.html' %}
{% load static markdown %}

{% block title %}
{{ post.title }}
{% endblock title %}

{% block content-blog %}

<script src="https://cdn.jsdelivr.net/combine/npm/marked@4.1.1/marked.min.js,npm/dompurify@2.4.0" defer></script>
<script src="{% static 'js/blog/post.js' %}" defer></script>

<article itemscope itemtype="http://schema.org/BlogPosting" class="post-article">
	<header class="post-header article-header">
		<h1 itemprop="name headline" class="post-title">{{ post.title }}</h1>
		<p class="text-muted post-info"><time datetime='{{ post.timestamp | date:"c" }}' itemprop="datePublished">{{ post.created_timestamp | date:"d F Y" }}</time> - <span itemprop="author">{{ post.author }}</span></p>
	</header>
	<div itemprop="articleBody" class="post-content article-content">
		{{ post.content | markdown | safe }}
	</div>
</article>

<hr>

<section id="comments">

	<h2>Comments</h2>

	<form id="new-comment-form" method="post" action="{% url 'blog:api_create_comment' post.pk %}">
		<div class="mb-3">
			<textarea type="text" class="form-control expand" id="new-comment-input" name="content"></textarea>
		</div>
		<button type="submit" class="btn btn-primary" id="new-comment-submit">Create</button>
	</form>

	<div id="comments-list" class="mt-4">
		{% for comment in comments %}<div class="comment card mt-2">
			<article itemscope itemtype="http://schema.org/Comment" class="card-body">
				<div class="comment-header">
					<p class="mb-2 text-bold" itemprop="author">{{ comment.author }}</p>
					<p class="text-muted"><time datetime='{{ post.timestamp | date:"c" }}' itemprop="datePublished">{{ post.created_timestamp | date:"d F Y" }}</time></p>
				</div>
				<div class="comment-content article-content">
					{{ comment.content | markdown | safe }}
				</div>
			</article>
		</div>{% endfor %}
	</div>

</section>

{% endblock content-blog %}