{% extends 'base-blog.html' %}

{% block title %}
Create Post
{% endblock title %}

{% block content-blog %}
<h2>Create new post</h2>
<form id="addForm" method="post" action="{% url 'blog:api_create_post' %}">
	{% csrf_token %}
	<div class="mb-3">
		<label for="titleInput" class="form-label">Title</label>
		<input type="text" class="form-control" id="titleInput" name="title">
	</div>
	<div class="mb-3">
		<label for="contentInput" class="form-label">Content</label>
		<textarea type="text" class="form-control" id="contentInput" name="content"></textarea>
	</div>
	<button type="submit" class="btn btn-primary" id="addModalSubmit">Create</button>
</form>
{% endblock content-blog %}