{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Trash Report Dashboard - Cleanify</title>
{% endblock meta %}

{% block content %}
<div class="container my-4">

    <h2 class="text-center fst-italic mb-4">Cleaning Crews, We Need Your Help!</h2>

    <div class="card align-items-center justify-content-center py-2 mb-4">
        <form class="text-center" method="POST">
            {% csrf_token %}
            <div class="d-flex flex-start justify-content-around" id="card-deck" style="flex-wrap: wrap">
            </div>
        </form>
    </div>
    <div class=" text-center">
        <a href="{% url 'authc:logout' %}" class="btn btn-outline-light btn-warning btn-sm px-3">Logout</a>
    </div>

</div>

<script>
    counter = 0
    function updateTable() {
        var tempCounter = counter;
        // AJAX GET melakukan append data
        $.get("{% url 'crewdashboard:json' %}", function (data) {
            var card = document.getElementById("card-deck");
            card.innerHTMLL = ""
            let string = ``
            for (var i = counter; i < data.length; i++) {
                string += `
<div class="card-group">
    <div class = "card mb-2 bg-light">
        <div class="card-header">
            <small class = "card-date">${data[i].fields.date}</small>
        </div>
        <div class="card-body">
            <small class="card-title">Urgency level: ${data[i].fields.urgency}</small>
            <div>
                <small class="card-description">Description: ${data[i].fields.description}</small>
            </div>
        </div>
        <div class="card-footer">
            <small class="card-description">${data[i].fields.location}</small>
        </div>
    </div>
</div>`
                tempCounter++;
            }
            card.innerHTML = string
            let str = document.getElementById("cardBody").innerHTML;
            let res = str.replace(/\\n/g, '<br> <br>');
            document.getElementById("cardBody").innerHTML = res;

            counter = tempCounter;
        });
    }

    // Melakukan refresh ketika button diklik
    $(document).ready(function () {
        updateTable();
    })

</script>

<style>
    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    main {
        /* background-image: url('{% static "img/crewdashboard/bg.jpg" %}');
        background-size: cover; */
        flex-grow: 1;
        align-items: center;
        display: flex;
        font-size: 20px;
    }
</style>

{% endblock content %}