{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Report Trash - Cleanify</title>
<script defer src="{% static 'js/report/form.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/report/form.css' %}">
{% endblock meta %}

{% block content %}
<div class="container-fluid my-4">
    <h2 class="text-center fst-italic">Welcome, {{ user }}!</h2>

    <form method="POST" id="form_post" action="" entype="multipart/form-data">
        {% csrf_token %}
        <tr>
            <div class="form-group mt-3">
                <label class="heading-5" for="location">Address </label>
                <input id="location" type="text" name="location" placeholder="Need-to-Clean Location" class="form-control" minlength="10" required>
            </div>
        </tr>

        <tr>
            <div class="form-group mt-3">
                <label class="heading-5" for="urgency">Urgency </label>
                <input id="urgency" type="number" name="urgency" placeholder="Urgency level out of 5" class="form-control" min="1" max="5" required>
            </div>
        </tr>

        <tr>
            <div class="form-group mt-3">
                <label class="heading-5" for="description">Description </label>
                <input id="description" type="text" name="description" placeholder="Description" class="form-control" minlength="10" required>
            </div>
        </tr>

        <tr>
            <div class="form-group mt-3">
                <label class="heading-5" for="file">Location Image </label>
                <input id="image" type="file" name="image" accept=".png, .jpg, .jpeg" class="form-control" required>
            </div>
        </tr>

        <div class="button mt-3">
            <button id="submit" type="submit" class="btn btn-primary d-flex mx-auto" onclick="clear()">Submit</button>
        </div>
    </form>
</div>

{% endblock content %}