body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

main {
	background-image: url('/static/img/report/bg.jpg');
	background-size: cover;
	flex-grow: 1;
	align-items: center;
	display: flex;
	font-size: 20px;
}

main .container-fluid {
	max-width: 640px;
}