main {
	background:url("/static/img/report/bg1.JPEG") no-repeat ;
	background-size: cover;
	align-items: center;
	display: flex;
	font-size: 20px;
}

main .container-fluid {
	max-width: 640px;
}
