body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    background-color: #588157;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    display: flex;
}

.form {
    background-color: #344e41;
    border-radius: 20px;
    box-sizing: border-box;
    height: 480px;
    padding: 20px;
    width: 320px;
}

.title {
    color: #eee;
    font-family: Tahoma;
    text-align: center;
    font-size: 40px;
    font-weight: 900px;
    margin-top: 30px;
}

.input_container {
    height: 60px;
    position: relative;
    width: 100%;
}

.container_1 {
    margin-top: 35px;
}

.container_2 {
    margin-top: auto;
}

input,
textarea,
select option {
    background-color: #3a5a40;
    box-sizing: border-box;
    border-radius: 12px;
    border: 0;
    color: #eee;
    font-size: 19px;
    height: 100%;
    padding: 0px 19px 0px;
    width: 100%;
}

.submit {
    background-color: #344e41;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    text-align: center;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
    outline: 0;
    width: 100%;
}

.submit:active {
    background-color: rgb(3, 97, 5);
}

.submit:hover {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
}