{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Frequently Asked Questions - Cleanify</title>
<script>
    window.THUMBS_UP_ENDPOINT = "{% url 'faq:update_thumbsUp' %}"
</script>
<script defer src="{% static 'js/faq/list.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/faq/main.css' %}">
{% endblock meta %}

{% block content %}
<div class="container text-white my-4">
    <h1 class="text-center fw-bold">Frequently Asked Questions</h1>
    <br>
    <div class="faq-container">
        {% for faq in faqs %}
        <div class="card text-body">
            <h5 class="card-header fw-bold">{{faq.question}}</h5>
            <div class="card-body">
                <p class="card-text">{{faq.answer}}</p>
                <a class="btn btn-success thumbsUp fw-bold" data-pk="{{faq.pk}}">
                    {{faq.thumbsUp}} Thumbs Up
                </a>
            </div>
        </div>
        <br>
        {% endfor %}
    </div>
    {% if perms.add_faq %}
    <a class="btn btn-success fw-bold" href="{% url 'faq:add' %}">
        Add New Question
    </a>
    {% endif %}

</div>

{% endblock content %}