{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Frequently Asked Questions</title>
<link rel="stylesheet" href="{% static 'css/faq.css' %}">
{% endblock meta %}

{% block content %}
<div class="container">
    <h1><br><strong>Cleanify's Frequently Asked Questions</strong></h1>
    <br>
    <div class="faq-container">
        {% for faq in faqs %}
        <div class="card">
            <h5 class="card-header"><strong>{{faq.question}}</strong></h5>
            <div class="card-body">
                <p class="card-text">{{faq.answer}}</p>
                <a class="btn btn-success thumbsUp" data-pk="{{faq.pk}}">
                    <strong>{{faq.thumbsUp}} Thumbs Up</strong>
                </a>
            </div>
        </div>
        <br>
        {% endfor %}
    </div>
    <a class="btn btn-success " href="{% url 'faq:faq_add' %}">
        <strong>Add New faq</strong>
    </a>

</div>

<script>
    $(".thumbsUp").on('click', function () {
        var dataPK = $(this).attr('data-pk');
        $.ajax({
            headers: { 'X-CSRFToken': "{{csrf_token}}" },
            type: 'POST',
            url: "{% url 'faq:faq_update_thumbsUp' %}",
            data: {
                pk: dataPK
            },
            success: function () {
                console.log('Success')
                location.reload(true)
            }
        })
    })
</script>

{% endblock content %}