body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    background-color: #588157;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    display: flex;
}

main a:hover {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
} 

