{% extends 'base.html' %}

{% block meta %}
<title>Bank Sampah</title>
{% endblock meta %}

{% block content %}


{% load static %}

<style>
    body {
      align-items: center;
      background-color: #588157;
      justify-content: center;
      display: flex;
      height: 97vh;
    }
    
    .form {
      background-color: #344e41;
      border-radius: 20px;
      box-sizing: border-box;
      height: 480px;
      padding: 20px;
      width: 320px;
    }
    
    .title{
      color: #eee;
      font-family: Tahoma;
      text-align: center;
      font-size: 40px;
      font-weight: 900px;
      margin-top: 30px;
    }
    
    .input_container{
      height: 60px;
      position: relative;
      width: 100%;
    }
    
    .container_1{
      margin-top: 35px;
    }
    .container_2{
      margin-top: auto;
    }
    
    input, textarea, select option{
      background-color: #3a5a40;
      box-sizing: border-box;
      border-radius: 12px;
      border: 0;
      color: #eee;
      font-size: 19px;
      height: 100%;
      padding: 0px 19px 0px;
      width: 100%;
    }
    
    .submit{
      background-color: #344e41;
      border-radius: 12px;
      border: 0;
      box-sizing: border-box;
      color: #eee;
      cursor: pointer;
      text-align: center;
      font-size: 18px;
      height: 50px;
      margin-top: 38px;
      outline: 0;
      width: 100%;
    }
    .submit:active{
      background-color: rgb(3, 97, 5);
    }
    .submit:hover{
      box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
      transform: translateY(-0.25em);
    }
    
    </style>

<body>

    <div class="form">
    <div class="title">Form Bank Sampah</div>
      <form method="POST">
        {% csrf_token %}
        <div class="input-container container_1">
            <label for="tanggal">Date</label>
            <input type="text" name="tanggal" placeholder="YYYY-MM-DD"required id="tanggal">
            <div class="cut"></div>
          </div>
          <label for="kontak">Contact</label>
          <div class="input-container container_2">
            <input name="kontak" placeholder="Telephone Number" required id="kontak"></input>
          </div>
          <label for="alamat">Address</label>
          <div class="input-container container_3">
            <textarea name="alamat" placeholder="Address" required id="alamat"></textarea>
          </div>
          <div class="input-container container_4">
            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" name="jenis">
                <option selected>Type</option>
                <option value="1">Organik</option>
                <option value="2">Anorganik</option>
                <option value="3">B3</option>
              </select>
          </div>

    
        <button type="text" class="submit">Submit</button>
    </form>
    </div>
    <script src="{% static 'main.js' %}"></script>
    <script src="{% static 'banksampahstyle.css' %}"></script>
    </body>
{% endblock content %}
