{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Waste Bank - Cleanify</title>
<link rel="stylesheet" href="{% static 'css/bank/index.css' %}">
<script src="{% static 'js/bank/index.js' %}"></script>
{% endblock meta %}

{% block content %}
<form method="POST" class="container-fluid">

    <div class="text-light form-inside">
        <h1 class="title fw-bold text-center">Waste Bank Form</h1>
        {% csrf_token %}
        <div class="mt-2">
            <label for="tanggal">Date</label>
            <input type="date" name="tanggal" placeholder="YYYY-MM-DD" required id="tanggal">
            <div class="cut"></div>
        </div>
        <div class="mt-2">
            <label for="kontak">Contact</label>
            <input name="kontak" placeholder="Telephone Number" required id="kontak" maxlength="12"></input>
        </div>
        <div class="mt-2">
            <label for="alamat">Address</label>
            <textarea name="alamat" placeholder="Address" required id="alamat"></textarea>
        </div>
        <div class="mt-2">
            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" name="jenis">
                <option selected disabled>Type</option>
                <option value="Organik">Organik</option>
                <option value="Anorganik">Anorganik</option>
                <option value="B3">B3</option>
            </select>
        </div>
    </div>
    <button class="btn btn-submit mt-4">Submit</button>
    <a href='{% url "banksampah:show" %}' class="btn btn-submit d-inline-block mt-2">Show Contents</a>

</form>

{% endblock content %}