<nav class="navbar navbar-dark navbar-expand-xl bg-cleanify">
	<div class="container">
		<a class="navbar-brand" href='{% url "index:index_page" %}'><i class="bi bi-trash-fill"></i> Cleanify</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
			<div class="offcanvas-header">
				<h5 class="offcanvas-title" id="offcanvasNavbarLabel"><i class="bi bi-trash-fill"></i> Cleanify</h5>
				<button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
			</div>
			<div class="offcanvas-body">
				<ul class="navbar-nav justify-content-end flex-grow-1">
					<li class="nav-item">
						<a class="nav-link" href='{% url "crewdashboard:addlocation" %}'><i class="bi bi-megaphone-fill"></i> Report Waste</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href='{% url "banksampah:create" %}'><i class="bi bi-bank2"></i> Waste Bank</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href='{% url "faq:index" %}'><i class="bi bi-question-circle-fill"></i> FAQ</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href='{% url "blog:index" %}'><i class="bi bi-newspaper"></i> Blog</a>
					</li>
					{% if request.user.is_authenticated %}
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							<i class="bi bi-person-fill"></i> {{ request.user }}
						</a>
						<ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
							<li><a class="dropdown-item" href='{% url "authc:logout" %}'>Logout</a></li>
						</ul>
					</li>
					{% else %}
					<li class="nav-item">
						<a class="nav-link" href='{% url "authc:login" %}'>Login</a>
					</li>
					{% endif %}
				</ul>
			</div>
		</div>
	</div>
</nav>
