body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    background:url("bg1.JPEG") no-repeat;
    color: white;
    background-size: cover; 
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 20px;
}

.regist_container{
    width: 35%;
    margin: 3rem auto 0 auto;
}

.login_container{
    width: 30%;
    margin: 10rem auto 0 auto;
}

main h1{
    text-align: center; 
    font-family: Garamond ;
    font-weight: bold;
    margin: 2rem auto 2.5rem auto;
}

input[type="radio"]{
    margin: 0 10px 0 35px;
}

#reg-button{
    width: 500px;
    padding: 7px 0;
    margin: 8px 0;
    font-size: 20px;
}
.row{
    width: 500px;
    margin-left: 70px;
}

