{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Login - Cleanify</title>
<link rel="stylesheet" href="{% static 'css/formregister.css' %}">
{% endblock meta %}

{% block content %}
<form action="" method="POST" id="login-form">
    {% csrf_token %}
    <div class="row" style="margin-left:0px; padding-right:45px;">
        <div class="col-md-12">
            <label for="email">Email:</label>
            <input type="email" class="form-control" name="email" placeholder="" required autofocus>
            <br>
            <label for="password">Password:</label>
            <input type="password" class="form-control" name="password" placeholder="" required>


            {% for field in login_form %}
            <p>
                {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
            {% endfor %}
            </p>
            {% endfor %}

            {% if login_form.non_field_errors %}
            <div class="non-field-errors">
                {% for err in login_form.non_field_errors %}
                <ul>
                    <p class="form-error">
                        <li style="color: red; text-align: left;">{{ err }}</li>
                    </p>
                </ul>
                {% endfor %}
            </div>
            {% endif %}

            <input type="hidden" name="next" value="{{ request.GET.next }}"/>

            <input type="submit" id="reg-button" value="login" class="btn btn-success btn-block" style="width: 426px;">
            <br> <br>
            <label for="">Daftar <a href="{% url 'authc:register' %}">disini</a> apabila tidak memiliki akun</label>
        </div>
    </div>
</form>
{% endblock content %}