{% load static%}
<!DOCTYPE html>
<html>
<head>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'css/formregister.css' %}">
	<title>Login</title>
</head>

<body>
    <nav class="navbar navbar-light px-4 mb-5" style="background-color: #859185;">
		<span class="navbar-text mb-0 h5">login here!</span>
		<span class="navbar-brand mb-0 h1">LOGIN</span>
		<form action="{% url 'authc:register' %}">
			{% csrf_token %}
			<button type="submit" class="btn btn-success">register</button>
		</form>
	</nav>
    <div class="login_container">
        <h1 style="text-align: center;">CLEANIFY</h1>
        <form action="" method="POST" id="login-form">
          {% csrf_token %}
          <div class="row" style="margin-left:0px; padding-right:45px;">
              <div class="col-md-12">
                  <label for="email">Email:</label>
                  <input type="email" class="form-control" name="email" placeholder="" required autofocus>
                  <br>
                  <label for="password">Password:</label>
                  <input type="password" class="form-control" name="password" placeholder="" required>
                

                  {% for field in login_form %}
                  <p>
                  {% for error in field.errors %}
                  <p style="color: red">{{ error }}</p>
                  {% endfor %}
                  </p>
                  {% endfor %}
                  
                  {% if login_form.non_field_errors %}
                  <div class="non-field-errors">
                  {% for err in login_form.non_field_errors %}
                  <ul>
                  <p class="form-error" ><li style="color: red; text-align: left;">{{ err }}</li></p></ul>
                  {% endfor %}
                  </div>
                  {% endif %}

                  <input type="submit" id="reg-button" value="login" class="btn btn-success btn-block" style="width: 426px;">
                  <br> <br>
                  <label for="">Daftar <a href="{% url 'authc:register' %}">disini</a> apabila tidak memiliki akun</label>
              </div>
          </div>
      </form>
      </div>
  </body>
</html>
