{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Register - Cleanify</title>
<link rel="stylesheet" href="{% static 'css/formregister.css' %}">
{% endblock meta %}

{% block content %}
<div class="regist_container">
	<form class="form-signin" method="post" id="register-form">{% csrf_token %}
		<div class="col-md-12">
			<label for="email">Email:</label> <br>
			<input type="email" name="email" id="inputEmail" class="form-control" placeholder="your email" required autofocus> <br>
		</div>

		<div class="col-md-12">
			<label for="username">Username:</label> <br>
			<input type="text" name="username" id="inputUsername" class="form-control" placeholder="your username" required> <br>
		</div>

		<div class="col-md-12">
			<label for="password1">Password:</label> <br>
			<input type="password" name="password1" id="inputPassword1" class="form-control" placeholder="password" required> <br>
		</div>

		<div class="col-md-12">
			<label for="password2">Confirm Password:</label> <br>
			<input type="password" name="password2" id="inputPassword2" class="form-control" placeholder="confirm password" required><br>
		</div>

		<div class="col-md-12">
			<label for="name">Nama Lengkap:</label> <br>
			<input type="text" name="nama" id="inputNama" class="form-control" placeholder="full name"> <br>
		</div>

		<div class="col-md-12">
			<label for="kontak">Kontak:</label> <br>
			<input type="text" name="kontak" id="inputKontak" class="form-control" placeholder="phone number"><br>
		</div>

		<div class="col-md-12">
			<label for="alamat">Alamat:</label> <br>
			<input type="text" name="alamat" id="inputAlamat" class="form-control" placeholder="address"><br>
		</div>

		<div class="col-md-12">
			<label for="role">Role:</label><br><br>
			<input type="radio" name="role" id="user" value="user">
			<label for="user">user</label>
			<input type="radio" name="role" id="crew" value="crew">
			<label for="crew">crew</label>
		</div>

		<p id="error" style="color: red"></p>

		<button class="btn btn-md btn-success" id="reg-button" type="submit">Register</button>
	</form>
</div>
</div>
<script type="text/javascript">
	$(document).on('submit', '#register-form', function (e) {
		e.preventDefault();

		var register_form_id = $('#register-form')

		$.ajax({
			type: 'POST',
			url: "{% url 'authc:register' %}",
			data: register_form_id.serialize(),
			dataType: "json",
			header: { 'X-CSRFToken': '{% csrf_token %}' },
			success: function (response) {
				var success = response['success']
				if (success) {
					alert("Akun anda telah berhasil didaftarkan. Silahkan menuju halaman login!")
				}
				else {
					alert("Pendaftaran akun gagal! Harap periksa input Anda.");
					for (var msg in response['error']) {
						var txt = JSON.stringify(response['error'][msg]);
						document.getElementById("error").innerHTML = txt.replace(/[&\/\\#,\]+()$~%['":*?<>{}]/g, '');
					}
				}
			},
		});
	});
</script>
{% endblock content %}