{% load static%}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="{% static 'css/formregister.css' %}">
	<title>Register</title>

</head>
<body>
	<nav class="navbar navbar-light px-4 mb-5" style="background-color:#859185;">
		<span class="navbar-text mb-0 h5">Please register!</span>
		<span class="navbar-brand mb-0 h1">Registration Form</span>
		<form action="{% url 'authc:login' %}">
			{% csrf_token %}
			<button type="submit" class="btn btn-success">login</button>
		</form>
	  </nav>

	<div class="regist_container">
		<form class="form-signin" method="post" id="register-form">{% csrf_token %}
		<div class="col-md-12">
		<label for="email">Email:</label> <br>
		<input type="email" name="email" id="inputEmail" class="form-control" placeholder="your email" required autofocus> <br>
		</div>
		
		<div class="col-md-12">
		<label for="username">Username:</label> <br>
		<input type="text" name="username" id="inputUsername" class="form-control" placeholder="your username" required> <br>
		</div>

		<div class="col-md-12">
		<label for="password1">Password:</label> <br>
		<input type="password" name="password1" id="inputPassword1" class="form-control" placeholder="password" required> <br>
		</div>

		<div class="col-md-12">
		<label for="password2">Confirm Password:</label> <br>
		<input type="password" name="password2" id="inputPassword2" class="form-control" placeholder="confirm password" required><br>
		</div>

		<div class="col-md-12">
		<label for="name">Nama Lengkap:</label> <br>
		<input type="text" name="nama" id="inputNama" class="form-control" placeholder="full name"> <br>
		</div>
		
		<div class="col-md-12">
		<label for="kontak">Kontak:</label> <br>
		<input type="text" name="kontak" id="inputKontak" class="form-control" placeholder="phone number"><br>
		</div>

		<div class="col-md-12">
		<label for="alamat">Alamat:</label> <br>
		<input type="text" name="alamat" id="inputAlamat" class="form-control" placeholder="address"><br>
		</div>

		<div class="col-md-12">
		<label for="role">Role:</label><br><br>
		<input type="radio" name="role" id="crew" value="crew">
		<label for="crew">crew</label>
		<input type="radio" name="role" id="user" value="user">
		<label for="user">user</label>
		<input type="radio" name="role" id="moderator" value="moderator">
		<label for="moderator">moderator</label>
		<input type="radio" name="role" id="superuser" value="superuser">
		<label for="superuser">superuser</label>
		</div>

		<p id="error" style="color: red"></p>

		<button class="btn btn-md btn-success" id="reg-button" type="submit">Register</button>
		</form>  
		</div>
	  </div>
<script type="text/javascript">
$(document).on('submit', '#register-form', function(e){
	e.preventDefault();
	
	var register_form_id = $('#register-form')

	$.ajax({
		type:'POST',
		url:"{% url 'authc:register' %}",
		data:register_form_id.serialize(),
		dataType:"json",
		header: {'X-CSRFToken': '{% csrf_token %}'},
		success: function(response){
		var success = response['success']
		if (success){
			alert("Akun anda telah berhasil didaftarkan. Silahkan menuju halaman login!")
		}
		else {
			alert("Pendaftaran akun gagal! Harap periksa input Anda.");
			for(var msg in response['error']) {
			var txt = JSON.stringify(response['error'][msg]);
			document.getElementById("error").innerHTML = txt.replace(/[&\/\\#,\]+()$~%['":*?<>{}]/g, '');
			}
		}
		},
	});
});
</script> 
</html>
	  